# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
st={1,2,3,4,5,6,7,8,9,10}
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
st.add(11)
st.remove(1)
print(st)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [4]:
set1={1,2,3,4,5}
set2={2,4,6,8,10}
united_set=set1.union(set2)
intersected_set=set1.intersection(set2)
different_set=set1.difference(set2)
symmetrical_diff_set=set1.symmetric_difference(set2)
print(set1)
print(set2)
print(united_set)
print(intersected_set)
print(different_set)
print(symmetrical_diff_set)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [5]:
st={i**2 for i in range(1,11)}
print(st)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [7]:
st={1,2,3,4,5,6,7,8,9,10}
new_set=set(element for element in st if element%2==0)
print(new_set)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [13]:
#I think it was pointless, as set already created as unique....

st={1,2,43,62,4,7,8,4,1}
unique_set=set(st)
print(unique_set)

{1, 2, 4, 7, 8, 43, 62}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [16]:
set1={1,2,3,4,5}
set2={1,2,3}
if set2.issubset(set1):
    print("set2 is subset of set1")
if set1.issuperset(set2):
    print("set1 is superset of set2")

set2 is subset of set1
set1 is superset of set2

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [19]:
st={1,2,3,4,5}
frozen_set=frozenset(st)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [20]:
st={1,2,3,4,5}
lst=list(st)
lst.append(6)
st=set(lst)
print(st)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [22]:
dictionary={frozenset({1,2,3}):1,frozenset({4,5}):2,frozenset({6,7,8,9}):3}
print(dictionary)

{frozenset({1, 2, 3}): 1, frozenset({4, 5}): 2, frozenset({8, 9, 6, 7}): 3}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [24]:
st={1,2,3,4,5}
for element in st:
    print(element)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [27]:
st={1,2,3,4,5}
print(st)
while len(st)>0:
    st.pop()
    print(st)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [28]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1)
print(set2)
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [30]:
st={1,2,3,4,5}
element=1
if element in st:
    print(f"Element {element} is in set")

Element 1 is in set

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [31]:
st={(1,2),(2,3),(3,4)}
print(st)

{(2, 3), (1, 2), (3, 4)}