In [155]:
import pandas as pd
import numpy as np
import random as rnd
import string

# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [19]:
rows_count=6
cols_count=4
data_frame=pd.DataFrame(np.random.randint(1,20,(rows_count,cols_count)))
print(data_frame)
data_frame.set_index(0,inplace=True)
print(data_frame)

    0   1   2  3
0   2  12   3  3
1   7   4  10  6
2  12   7  16  4
3  16  10  15  9
4   9  16  16  2
5   7   4   7  9
     1   2  3
0
2   12   3  3
7    4  10  6
12   7  16  4
16  10  15  9
9   16  16  2
7    4   7  9

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [20]:
data_frame=pd.DataFrame(columns=['A','B','C'],index=['X','Y','Z'])
data_frame.map(lambda i:np.random.randint(1,20))

    A   B  C
X  15  10  2
Y  18  14  2
Z  10  10  3

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [25]:
cols_count=3
rows_count=5
data_frame=pd.DataFrame(np.random.randint(1,20,(rows_count,cols_count)))
print(data_frame)
data_frame[cols_count]=data_frame[0][0:]*data_frame[1][0:]
cols_count+=1
print(data_frame)

    0   1   2
0  15   4  19
1   7   8  18
2   6  18  16
3   5  15  16
4   9   4  11
    0   1   2    3
0  15   4  19   60
1   7   8  18   56
2   6  18  16  108
3   5  15  16   75
4   9   4  11   36

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [28]:
cols_count=3
rows_count=4
data_frame=pd.DataFrame(np.random.randint(1,20,(rows_count,cols_count)))
print(data_frame)
row_wise_sum_arr=data_frame.sum(axis=1)
col_wise_sum_arr=data_frame.sum(axis=0)
print(row_wise_sum_arr)
print(col_wise_sum_arr)

    0   1   2
0  18   4  18
1  17   1   3
2   4   4  18
3   4  10   5
0    40
1    21
2    26
3    19
dtype: int64
0    43
1    19
2    44
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [34]:
cols_count=3
rows_count=5
data_frame=pd.DataFrame(np.random.randint(1,20,(rows_count,cols_count)))
data_frame.iloc[0,0]=np.nan
data_frame.iloc[1,1]=np.nan
print(data_frame)
data_frame.fillna(data_frame.mean(),inplace=True)
print(data_frame)

      0     1   2
0   NaN  18.0   9
1  12.0   NaN  12
2   7.0  11.0  14
3  18.0  10.0   8
4   9.0   6.0  19
      0      1   2
0  11.5  18.00   9
1  12.0  11.25  12
2   7.0  11.00  14
3  18.0  10.00   8
4   9.0   6.00  19

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [36]:
cols_count=4
rows_count=6
data_frame=pd.DataFrame(np.random.randint(1,20,(rows_count,cols_count)))
data_frame.iloc[0,0]=np.nan
data_frame.iloc[1,1]=np.nan
print(data_frame)
data_frame.dropna(inplace=True)
print(data_frame)

      0     1   2   3
0   NaN   1.0   1   6
1  13.0   NaN  14   4
2  10.0  12.0  19  15
3  12.0  13.0   5   6
4   4.0   7.0  16   7
5  10.0   8.0  19  13
      0     1   2   3
2  10.0  12.0  19  15
3  12.0  13.0   5   6
4   4.0   7.0  16   7
5  10.0   8.0  19  13

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [48]:
rows_count=5
data_frame=pd.DataFrame({"Category":np.random.choice(['A','B','C'],size=rows_count),"Value":np.random.randint(1,20,rows_count)},columns=["Category","Value"])
print(data_frame)
data_frame.groupby("Category").agg(['sum','mean'])

  Category  Value
0        C     18
1        B     12
2        B      8
3        A     14
4        B     19

         Value
           sum  mean
Category
A           14  14.0
B           39  13.0
C           18  18.0

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [56]:
rows_count=15
colums_arr=["Product","Category","Sales"]
products_arr=["P1","P2","P3","P4","P5"]
categories_arr=["C1","C2","C3"]
data_frame=pd.DataFrame({colums_arr[0]:np.random.choice(products_arr,size=rows_count),
                         colums_arr[1]:np.random.choice(categories_arr,size=rows_count),
                         colums_arr[2]:np.random.random(rows_count)*100},columns=colums_arr)
print(data_frame)
data_frame.groupby(colums_arr[1]).sum(colums_arr[2])

   Product Category      Sales
0       P5       C3  71.961165
1       P5       C1  96.500986
2       P4       C2  11.369859
3       P1       C3  64.842893
4       P3       C2  18.108906
5       P3       C3  88.386196
6       P5       C1  39.006854
7       P3       C2  76.279499
8       P2       C2  33.780408
9       P5       C1  48.724437
10      P3       C3  48.196245
11      P5       C2  33.281854
12      P1       C2  69.004561
13      P1       C3  36.014226
14      P1       C3  40.078030

               Sales
Category
C1        184.232277
C2        241.825088
C3        349.478755

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [61]:
rows_count=5
df1=pd.DataFrame({"C1":np.random.randint(1,20,rows_count),"C2":np.random.randint(1,20,rows_count)})
df2=pd.DataFrame({"C1":np.random.randint(1,20,rows_count),"C3":np.random.randint(1,20,rows_count)})
print(df1)
print(df2)
pd.merge(df1,df2,on="C1")

   C1  C2
0  12  14
1   3  19
2  18  13
3   3   9
4   4   7
   C1  C3
0  10   9
1  19   6
2   8   1
3   4   3
4   9   8

   C1  C2  C3
0   4   7   3

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [69]:
rows_count1=3;rows_count2=4
df1=pd.DataFrame({"C1":np.random.randint(1,20,rows_count1),"C2":np.random.randint(1,20,rows_count1)})
df2=pd.DataFrame({"C3":np.random.randint(1,20,rows_count2),"C4":np.random.randint(1,20,rows_count2)})
print(df1)
print(df2)
concatenated_rows_arr=pd.concat([df1,df2],axis=0)
print(concatenated_rows_arr)
concatenated_cols_arr=pd.concat([df1,df2],axis=1)
print(concatenated_cols_arr)

   C1  C2
0  13  15
1  14  14
2   9   4
   C3  C4
0  15  17
1   4  17
2   6  10
3  19   9
     C1    C2    C3    C4
0  13.0  15.0   NaN   NaN
1  14.0  14.0   NaN   NaN
2   9.0   4.0   NaN   NaN
0   NaN   NaN  15.0  17.0
1   NaN   NaN   4.0  17.0
2   NaN   NaN   6.0  10.0
3   NaN   NaN  19.0   9.0
     C1    C2  C3  C4
0  13.0  15.0  15  17
1  14.0  14.0   4  17
2   9.0   4.0   6  10
3   NaN   NaN  19   9

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [99]:
colums_arr=["DT","value"]
data_types={colums_arr[0]:"datetime64[ns]",colums_arr[1]:"int"}
random_dates=pd.date_range(start="2024-01-01",end="2024-12-31",freq="D")
rows_count=len(random_dates)
random_values=np.random.randint(1,20,rows_count)
data_frame=pd.DataFrame({colums_arr[0]:random_dates,colums_arr[1]:random_values},
                        columns=["DT","value"]).astype(data_types).set_index("DT")
print(data_frame)

monthly_mean_arr=data_frame.resample("ME").mean()
print(monthly_mean_arr)

            value
DT
2024-01-01     15
2024-01-02      9
2024-01-03      3
2024-01-04     13
2024-01-05     17
...           ...
2024-12-27      4
2024-12-28      2
2024-12-29     10
2024-12-30     12
2024-12-31     16

[366 rows x 1 columns]
                value
DT
2024-01-31  10.258065
2024-02-29  11.482759
2024-03-31  11.548387
2024-04-30   9.233333
2024-05-31  10.709677
2024-06-30   9.000000
2024-07-31   9.741935
2024-08-31   8.354839
2024-09-30   9.433333
2024-10-31  10.387097
2024-11-30  10.400000
2024-12-31  10.290323

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [103]:
random_dates=pd.date_range(start="2021-01-01",end="2021-12-31",freq="D")
rows_count=len(random_dates)
random_values=np.random.randint(1,99,rows_count)
colums_arr=["DT","value"]
data_frame=pd.DataFrame({colums_arr[0]:random_dates,colums_arr[1]:random_values},columns=colums_arr).set_index("DT")
print(data_frame)
rolling_mean_arr=data_frame.rolling(window=7).mean()
print(rolling_mean_arr)

            value
DT
2021-01-01     65
2021-01-02     16
2021-01-03     61
2021-01-04     72
2021-01-05     36
...           ...
2021-12-27     81
2021-12-28     19
2021-12-29     92
2021-12-30     16
2021-12-31     47

[365 rows x 1 columns]
                value
DT
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  50.285714
2021-12-28  48.714286
2021-12-29  53.000000
2021-12-30  54.000000
2021-12-31  47.714286

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [113]:
arr=[["C1","C1","C2","C2","C3"],["CC1","CC2","CC1","CC2","CC1"]]
index_arr=pd.MultiIndex.from_arrays(arr,names=("P_C","C_C"))
data_frame=pd.DataFrame(np.random.randint(0,20,(5,5)),index=index_arr,columns=["Col1","Col2","Col3","Col4","Col5"])
print(data_frame)
print("")
print(data_frame.loc["C2"])
print("")
print(data_frame.loc[("C1","CC2")])

         Col1  Col2  Col3  Col4  Col5
P_C C_C
C1  CC1    15     9    14    13    18
    CC2    16     6    16    17    15
C2  CC1    13     9     6     0     2
    CC2     4     4    11    17    11
C3  CC1     1    12    18    13     6

     Col1  Col2  Col3  Col4  Col5
C_C
CC1    13     9     6     0     2
CC2     4     4    11    17    11

Col1    16
Col2     6
Col3    16
Col4    17
Col5    15
Name: (C1, CC2), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [125]:
arr=[["C1","C1","C2","C2","C3"],["CC1","CC2","CC1","CC2","CC1"]]
index_arr=pd.MultiIndex.from_arrays(arr,names=("Category","SubCategory"))
data_frame=pd.DataFrame(np.random.randint(0,20,(5,5)),index=index_arr,columns=["Col1","Col2","Col3","Col4","Col5"])
print(data_frame)
print("")
sum_of_categories_arr=data_frame.groupby(["Category"]).sum()
print(sum_of_categories_arr)
sum_of_subcategories_arr=data_frame.groupby(["Category","SubCategory"]).sum()
print(sum_of_subcategories_arr)

                      Col1  Col2  Col3  Col4  Col5
Category SubCategory
C1       CC1             8     9    18    10     0
         CC2             5    15    16    10    19
C2       CC1            18    12     4     7     0
         CC2             7    12    17     3     1
C3       CC1            17    19    12    12     0

          Col1  Col2  Col3  Col4  Col5
Category
C1          13    24    34    20    19
C2          25    24    21    10     1
C3          17    19    12    12     0
                      Col1  Col2  Col3  Col4  Col5
Category SubCategory
C1       CC1             8     9    18    10     0
         CC2             5    15    16    10    19
C2       CC1            18    12     4     7     0
         CC2             7    12    17     3     1
C3       CC1            17    19    12    12     0

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [128]:
random_dates=pd.date_range(start="2021-01-01",end="2021-12-31",freq="D")
rows_count=len(random_dates)
random_values=np.random.randint(1,99,rows_count)
categories_arr=["C1","C2","C3"]
random_categories=np.random.choice(categories_arr,size=rows_count)
colums_arr=["Date","Category","Value"]
data_frame=pd.DataFrame({colums_arr[0]:random_dates,
                         colums_arr[1]:random_categories,
                         colums_arr[2]:random_values},
                        columns=colums_arr).set_index(colums_arr[0])
print(data_frame)
pivot_table=data_frame.pivot_table(values=colums_arr[2],
                                   index=colums_arr[0],
                                   columns=colums_arr[1],
                                   aggfunc="sum")
print(pivot_table)

           Category  Value
Date
2021-01-01       C2     87
2021-01-02       C2     62
2021-01-03       C3     13
2021-01-04       C1      8
2021-01-05       C1     16
...             ...    ...
2021-12-27       C2     36
2021-12-28       C3     26
2021-12-29       C1     51
2021-12-30       C1     96
2021-12-31       C2     43

[365 rows x 2 columns]
Category      C1    C2    C3
Date
2021-01-01   NaN  87.0   NaN
2021-01-02   NaN  62.0   NaN
2021-01-03   NaN   NaN  13.0
2021-01-04   8.0   NaN   NaN
2021-01-05  16.0   NaN   NaN
...          ...   ...   ...
2021-12-27   NaN  36.0   NaN
2021-12-28   NaN   NaN  26.0
2021-12-29  51.0   NaN   NaN
2021-12-30  96.0   NaN   NaN
2021-12-31   NaN  43.0   NaN

[365 rows x 3 columns]

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [130]:
colums_arr=["Year","Quarter","Revenue"]
rows_count=15
random_years=np.random.randint(1999,2025,rows_count)
random_quarters=np.random.randint(1,4,rows_count)
random_revenue=np.random.random(rows_count)*1000
data_frame=pd.DataFrame({colums_arr[0]:random_years,
                         colums_arr[1]:random_quarters,
                         colums_arr[2]:random_revenue},
                        columns=colums_arr)
print(data_frame)
pivot_table=data_frame.pivot_table(values=colums_arr[2],
                                   index=colums_arr[0],
                                   columns=colums_arr[1],
                                   aggfunc="mean")
print(pivot_table)

    Year  Quarter     Revenue
0   2000        1  304.118251
1   2022        1  708.054283
2   2015        1   91.049270
3   1999        3  948.529080
4   2003        1  743.439948
5   2008        1  516.556725
6   2015        3  966.874134
7   2005        2  592.173737
8   2002        3  194.484665
9   2015        1  355.144443
10  2005        3  635.821408
11  2002        2  252.748547
12  2006        3  467.076536
13  2022        2  243.327845
14  2017        2  431.874545
Quarter           1           2           3
Year
1999            NaN         NaN  948.529080
2000     304.118251         NaN         NaN
2002            NaN  252.748547  194.484665
2003     743.439948         NaN         NaN
2005            NaN  592.173737  635.821408
2006            NaN         NaN  467.076536
2008     516.556725         NaN         NaN
2015     223.096856         NaN  966.874134
2017            NaN  431.874545         NaN
2022     708.054283  243.327845         NaN

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [143]:
def double_element(element):
    return element*2

cols_count=3
rows_count=5
data_frame=pd.DataFrame(np.random.randint(1,20,(rows_count,cols_count)))
print(data_frame,end="\n\n")
data_frame.iloc[0:,0:]=data_frame*2
print(data_frame,end="\n\n")
data_frame=data_frame.map(lambda element:element*2)
print(data_frame,end="\n\n")
data_frame=data_frame.map(double_element)
print(data_frame,end="\n\n")

    0   1   2
0   7   8  17
1  19   8  17
2   8  19   9
3  10  16  16
4   1  18  14

    0   1   2
0  14  16  34
1  38  16  34
2  16  38  18
3  20  32  32
4   2  36  28

    0   1   2
0  28  32  68
1  76  32  68
2  32  76  36
3  40  64  64
4   4  72  56

     0    1    2
0   56   64  136
1  152   64  136
2   64  152   72
3   80  128  128
4    8  144  112

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [149]:
cols_count=3
rows_count=6
data_frame=pd.DataFrame(np.random.randint(1,20,(rows_count,cols_count)))
print(data_frame,end="\n\n")
data_frame["Sum"]=data_frame.apply(lambda row:row.sum(),axis=1)
print(data_frame,end="\n\n")

    0   1   2
0   9   8  17
1   6  13  11
2   6   9  14
3  12   2  13
4   5   8   5
5  18   2  17

    0   1   2  Sum
0   9   8  17   34
1   6  13  11   30
2   6   9  14   29
3  12   2  13   27
4   5   8   5   18
5  18   2  17   37

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [156]:
str_length=10
random_strings=["".join(rnd.choices(string.ascii_letters+string.digits,k=str_length)) for i in range(0,5)]
print(random_strings)
series=pd.Series(random_strings)
print(series)
uppercase_series=series.str.upper()
print(uppercase_series)

['dpAYBSwUWq', '6vTesjMsWV', 'OCsDQvUmN3', 'vu7GRgZqQl', 'RzcVcci4Kp']
0    dpAYBSwUWq
1    6vTesjMsWV
2    OCsDQvUmN3
3    vu7GRgZqQl
4    RzcVcci4Kp
dtype: object
0    DPAYBSWUWQ
1    6VTESJMSWV
2    OCSDQVUMN3
3    VU7GRGZQQL
4    RZCVCCI4KP
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [164]:
str_length=10
random_strings=["".join(rnd.choices(string.ascii_letters+string.digits,k=str_length)) for i in range(0,5)]
print(random_strings)
series=pd.Series(random_strings)
print(series)
three_char_series=series.str[:3]
print(three_char_series)

['9E7CrJgJI7', 'jFlM0nmD4R', '5tuXRsaToY', 'JdEor3Ioos', 'qBuQLh89Wm']
0    9E7CrJgJI7
1    jFlM0nmD4R
2    5tuXRsaToY
3    JdEor3Ioos
4    qBuQLh89Wm
dtype: object
0    9E7
1    jFl
2    5tu
3    JdE
4    qBu
dtype: object