# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
tpl=(1,2,3,4,5,6,7,8,9,10)
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [5]:
print(f"{tpl[0]} {tpl[len(tpl)//2]} {tpl[-1]}")

1 6 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [11]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [14]:
matrix=((1,2,3),(4,5,6),(7,8,9))
print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [15]:
tpl1=(1,2,3);tpl2=(4,5,6)
concatenated_tuple=tpl1+tpl2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
tpl=(1,4,56,2,3,1,1,1,9)
print(tpl.count(1)," ",tpl.index(1))

4   0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [18]:
tpl=(1,2,3,4,5)
a1,a2,a3,a4,a5=tpl
print(a1," ",a2," ",a3," ",a4," ",a5)

1   2   3   4   5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [21]:
lst=[i for i in range(1,6)]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [23]:
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [25]:
tpl=(1,2,3,4,5)
lst=list(tpl)
lst.append(6)
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [28]:
tpl=('a','b','c','d')
str="".join(tpl)
print(str)

abcd

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [31]:
dictionary={(1,2):1,(3,4):2}
print(dictionary)

{(1, 2): 1, (3, 4): 2}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [33]:
nested_tuple=((1,2,3),(4,5,6),(7,8))
for tpl in nested_tuple:
    for element in tpl:
        print(element)

1
2
3
4
5
6
7
8

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [34]:
tpl=(1,2,3,4,5,1,2,3)
st=set(tpl)
print(st)

{1, 2, 3, 4, 5}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [36]:
def aggregate(tpl):
    aggregate_result=(min(tpl),max(tpl),sum(tpl))
    return aggregate_result

tpl=(1,2,3,5,3,1,4,7,9,3,0)
min_tpl,max_tpl,sum_tpl=aggregate(tpl)
print(min_tpl,max_tpl,sum_tpl)

0 9 38